

<div class="float-right clearfix " style="">
    <p id="notification" class="alert mt-5 mr-2 pl-5 pr-5 invisible" role="alert">
        Tạo bài viết thành công!
    </p>
</div>

<div class="container mt-4 mb-5 border rounded" style="background-color: white;">
    <div class="text-center mt-4 mb-5 ">
        <h2 style="margin-left: 70px;">THÔNG TIN NGƯỜI DÙNG</h2>
        <hr class="mt-1" style="border-top: 2px solid rgba(0, 0, 0, .1); width: 30%;">
    </div>
    <div class="mt-4 clearfix" style="width: 100%;">
        {{!-- group menu --}}
        <div class=" float-left mb-4" style="width: 18%;">
            <ul class="list-group">
                <li class="list-group-item ">
                    <a href="/users/{{user._id}}/info" style="color: #212529; text-decoration: none;">Thông tin tổng quan</a>
                </li>
                <li class="list-group-item">
                    <a href="/users/{{user._id}}/posts" style="color: #212529; text-decoration: none;">Thông tin bài đăng</a>
                </li>
                <li class="list-group-item active">
                    <a href="#" style="color: white; text-decoration: none;">Tạo bài đăng mới</a>
                </li>
            </ul>
        </div>
        <div class="border rounded float-right mb-4" style="width: 80%;">
            <div class="container m-2">
                <div class="mr-3">
                    <h3 class="text-center " >Tạo bài đăng mới  </h3>
                    <form method="POST" action="/posts/{{user._id}}/store" onsubmit="return validateContentForm()" >
                        <div class="form-group">
                            <label for="title">Tiêu đề bài đăng <inline style="color: red;">(*)</inline></label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <label for="description">Mô tả <inline style="color: red;">(*)</inline></label>
                            <input type="text" class="form-control" id="description" name="description" required>
                        </div>
                        <div class="form-group">
                            <label for="thumbnail">URL Ảnh đại diện <inline style="color: red;">(*)</inline></label>
                            <input type="text" class="form-control" id="thumbnail" name="thumbnail" required>
                        </div>
                        <div class="form-group">
                            <label for="contentHtml">Nội dung <inline style="color: red;">(*)</inline></label>
                            <textarea class="form-control" id="contentHtml" name="contentHtml" rows="10" style="display: none;"></textarea>
                            <div id="contentTinymce"></div>
                        </div>
                        <button type="submit" class="btn btn-primary" >Tạo bài đăng</button>
                    </form>
                </div>
                <p class="mt-4"><inline style="color: red;">Chú ý: </inline>Người dùng bắt buộc phải cung cấp thông tin đối với các trường có  <inline style="color: red;">(*)</inline></p>
            </div>
        </div>
    </div>
</div>
<script src="/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script type="text/javascript">
  tinymce.init({
    selector: '#contentTinymce',
    license_key: 'gpl',
    plugins: " code list autolink link lists",
    toolbar1: " undo redo | styles | indent outdent | bullist numlist | code | link ",
    toolbar2: "forecolor backcolor bold italic underline| alignleft aligncenter alignright justify ",
    toolbar_mode: 'sliding',
    link_default_target: '_blank',

  });
</script>
<script>
    function showNotification(alerClass, message, duration) {
        let notification = document.getElementById("notification");
        notification.innerHTML = message;
        notification.classList.add(alerClass);
        notification.classList.remove("invisible");
        notification.style.display = "block";
        setTimeout(function(){
            notification.classList.add("invisible");
            notification.classList.remove(alerClass);
            {{!-- notification.style.display = "none"; --}}
        }, duration);
    }

    function validateContentForm() {
        var content = tinymce.get('contentTinymce').getContent();

        if (!content.trim()) {
            alert('Vui lòng nhập nội dung bài đăng');
            return false; // Ngăn form gửi đi
        }
         // Gán nội dung của trình soạn thảo vào textarea trước khi gửi form
        document.getElementById('contentHtml').value = content;
        return true; // Cho phép form gửi đi
    }
    {{#if resPost}}
    {{#if createPostStatus}}
        showNotification("alert-success","Tạo bài viết thành công!",3000);
    {{else}}
        showNotification("alert-danger", "Tạo bài viết thất bại!!!",3000);
    {{/if}}
    {{/if}}

</script>



